<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Main</title>
		<link rel="stylesheet" href="../static/style/style.css" th:href="@{/style/style.css}">
		<meta content="Main" property="og:title">
		<meta content="Main" property="twitter:title">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
		<script type="text/javascript">WebFont.load({  google: {    families: ["Great Vibes:400"]  }});</script>

		<!-- HEAD CODE -->
	</head>
	<body>
		<div class="header wf-section">
			<a href="/" aria-current="page" class="goclimblink w-inline-block w--current">
				<div class="text-block-2">Go Climb</div>
			</a>
			<div class="menu">
				<a href="#" class="link-block-4 w-inline-block">
					<div class="username">Сухарев Александр</div>
				</a>
				<a href="#" class="acoountbtn w-inline-block"></a>
				<a href="#" class="exitbtn w-inline-block">
					<div class="text-block-6">Х</div>
				</a>
			</div>
		</div>
		<div class="section-2 wf-section">
			<a href="/add-user-request" class="appbtn w-inline-block">
				<div class="text-block-3" >ПОДАТЬ ЗАЯВКУ</div>
			</a>
			<div class="cont">
				<div  th:each="ele : ${requests}" class="application">
					<h4 th:text="${ele.discipline}"></h4>
					<h4 th:text="${ele.climbLvl}"></h4>
					<a th:href="'/' + ${ele.id}">Посмотреть</a>
				</div>
			</div>
		</div>
		<div class="footer wf-section"></div>
		<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5fb7befc879c17017ea4cd1b" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="js/script.js?ver=1659001225"></script>
		<script src="./mail.js" type="text/javascript"></script>
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
		<!-- FOOTER CODE -->
		<script type="text/javascript">$(document).ready(function(){$('[href*="brandjs"],.w-webflow-badge').attr('style', 'display:none !important');$('a[href="'+window.location.href+'"]').addClass('w--current');});</script>
	</body>
</html>
